<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div id="app" class="mt-2">
            <div class="row h-100">
                <div class="col-md-3 h-100 d-flex flex-column">
                    <!--      search欄位區-->
                    <!--      輸入關鍵字時可以過濾Name找到包含的關鍵字:Computed 常見技巧 搜尋 + filter()-->
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="search" placeholder="search" v-model="cacheSearch">
                        <label for="search">search</label>
                    </div>
                    <!--      顯示地點名稱區-->
                    <!--      過濾後存入在 dataFilter 裡,這裡只需要 Name -->
                    <div class="list-group option">
                        <label class="list-group-item" v-for="(item, key) in dataFilter " :key="'dataFilter' + key" :for="filter">
                            <!--          @click="cacheArea = item" 點擊後把item資料與 cacheArea資料比對帶出 就能顯示在瀏覽紀錄上-->
                            <!--          :checked樣式來指示是否為勾選的狀態-->
                            <input class="form-check-input me-1" type="radio" name="area" :value="item" :checked="cacheArea.name === item.name" @click="cacheArea = item" :id="filter">
                            {{ item.Name }}
                        </label>
                    </div>
                </div>
                <div class="col-md-8 h-100 d-flex flex-column">
                    <!--      瀏覽紀錄區-->
                    <div class="form-floating">
                        <select  id="cacheArea" class="form-select w-50 mb-2" aria-label="select example" v-model="cacheArea">
                            <option selected disabled value="">瀏覽紀錄</option>
                            <!--          用watch監聽,存放<=10筆瀏覽紀錄進browseLog-->
                            <option v-for="(item, key) in browseLog" :key="'browseLog' + key" :value="item">{{ item.Name }}</option>
                        </select>
                        <label for="cacheArea" >瀏覽紀錄</label>
                    </div>
                    <!--      地圖-->
                    <!--      因為在上方使用@click="cacheArea = item",所以資料也將被帶到這裡顯示需要的資訊?-->
                    <div class="card overflow-auto">
                        <div v-if="cacheArea.Name">
                            <img :src="cacheArea.Picture1" class="card-img-top" :alt="cacheArea.Name">
                            <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                    :src=`https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=${cacheArea.Py},${cacheArea.Px}(${cacheArea.Name})&z=16&output=embed`></iframe>
                            <div class="card-body">
                                <h5 class="card-title">{{ cacheArea.Name }}</h5>
                                <p>{{ cacheArea.Description }}</p>
                            </div>
                        </div>
                        <div v-else class="card-body bg-light">
                            請選擇景點
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const app = Vue.createApp({
                data() {
                    return {
                        allData: [],//遠端資料存放區
                        nowPage: 0,//當前頁數，對應現在當前頁數
                        // 設定要顯示在畫面上的資料數量
                        // 預設每一頁只顯示 20 筆資料。
                        perPage: 20,
                        pageTotal: '',
                        // 建立新陣列存放各頁資料
                        cardInfo: []
                    }
                },
                created() {
                    this.getData()
                },
                methods: {
                    getData() {
                        const jsonUrl = 'https://api.kcg.gov.tw/api/service/Get/9c8e1450-e833-499c-8320-29b36b7ace5c'
                        axios.get(jsonUrl)
                            .then((res) => {
                                this.allData = res.data.data.XML_Head.Infos.Info
                                // console.log(this.allData)
                                this.pagination(1)
                            })
                            .catch((err) => {
                                console.log(err)
                            })
                    },
                    pagination(page) {
                        this.nowPage = page
                        // console.log(this.nowPage)//設定第一頁

                        // 取得全部資料長度
                        const dataLen = this.allData.length
                        // console.log(dataLen)//334筆

                        // page 按鈕總數量公式 總資料數量 / 每一頁要顯示的資料
                        // 這邊要注意，因為有可能會出現餘數，所以要無條件進位。
                        this.pageTotal = Math.ceil(dataLen / this.perPage);
                        // console.log(this.pageTotal)//16.7 -> 17頁

                        // 當前頁數，對應現在當前頁數
                        let currentPage = this.nowPage;
                        // console.log(currentPage)//第一頁

                        // 因為要避免當前頁數筆總頁數還要多，假設今天總頁數是 3 筆，就不可能是 4 或 5
                        // 所以要在寫入一個判斷避免這種狀況。
                        // 當"當前頁數"比"總頁數"大的時候，"當前頁數"就等於"總頁數"
                        // 注意這一行在最前面並不是透過 nowPage 傳入賦予與 currentPage，所以才會寫這一個判斷式，但主要是預防一些無法預期的狀況，例如：nowPage 突然發神經？！
                        if (currentPage > this.pageTotal) {
                            currentPage = this.pageTotal
                        }
                        // 最大與最小值
                        const minData = (currentPage * this.perPage) - this.perPage + 1
                        const maxData = currentPage * this.perPage + 1

                        // slice()回傳新陣列 為原陣列選擇之minData到maxData部分得淺拷貝
                        //方法的第一個參數 begin 是要從哪個索引值開始切
                        //方法的第二個參數 end 是要在哪一個索引值結束
                        //但是第二個參數常會讓人會錯意，例如：
                        //第二個參數如果是三，slice() 方法其實只會取到索引值為二
                        //所以maxData要+1才會準確
                        this.cardInfo = this.allData.slice(minData, maxData)
                        // console.log(maxData)
                    },
                    previousBtn(){
                        if (this.nowPage === 1){
                            return this.nowPage
                        } else {
                            this.nowPage = this.nowPage - 1
                            this.pagination(this.nowPage)
                        }
                    },
                    forNowBtn(item){
                        this.nowPage = item
                        this.pagination(this.nowPage)
                    },
                    nextBtn(){
                        if (this.nowPage === this.nowPage -1 ){
                            return this.nowPage
                        } else {
                            this.nowPage = this.nowPage + 1
                            this.pagination(this.nowPage)
                        }
                    }
                }
            })
            app.component('cardContent', {
                props: ['cardInfo'],
                template: `
                              <div class="row" id="content">
                              <div class="col-md-6 py-2" v-for="item in cardInfo" :key="item.id">
                                <div class="card">
                                  <div class="card bg-dark text-white text-left">
                                    <img class="card-img-top img-cover" height="155" :src="item.Picture1">
                                    <div
                                        class="card-img-overlay d-flex justify-content-between align-items-end p-0 px-3"
                                        style="background-color: rgba(0, 0, 0, .2)">
                                      <h5 class="card-img-title-lg">{{ item.Name }}</h5><h5 class="card-img-title-sm">
                                      {{ item.Zone }}
                                    </h5>
                                    </div>
                                  </div>
                                  <div class="card-body text-left">
                                    <p class="card-text"><i
                                        class="far fa-clock fa-clock-time"></i>&nbsp;{{ item.Opentime }}</p>
                                    <p class="card-text"><i
                                        class="fas fa-map-marker-alt fa-map-gps"></i>&nbsp;{{ item.Add }}</p>
                                    <p class="card-text"><i class="fas fa-mobile-alt fa-mobile"></i>&nbsp;{{ item.Tel }}
                                    </p>
                                    <div v-if="item.Ticketinfo">
                                      <p class="card-text">
                                        <i class="fas fa-tags text-warning"/>
                                        &nbsp;{{ item.Ticketinfo }}
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </div>`
            })

            app.component('pageBtn', {
                //父元件傳子元件
                props: ['pageTotal', 'nowPage'],
                methods: {
                    //寫入下方template
                    previousHandleClick(){
                        //自定義事件
                        this.$emit('previousPage')
                    },
                    forNowHandleClick(item) {
                        this.$emit('forNowPage', item)
                    },
                    nextHandleClick() {
                        this.$emit('nextPage')
                    }
                },
                template: `
                              <div class="d-flex justify-content-center mt-4">
                              <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                  <li class="page-item" @click="previousHandleClick" :class='{"disabled": this.nowPage <= 1 }'>
                                    <a class="page-link" href="#" >
                                      Previous
                                    </a>
                                  </li>
                                  <li class="page-item" v-for="item in pageTotal" :key="item" :class='{"active": this.nowPage === item }' @click="forNowHandleClick(item)" >
                                    <a class="page-link" href="#">
                                      {{ item }}
                                    </a>
                                  </li>
                                  <li class="page-item" @click="nextHandleClick" :class='{"disabled": this.nowPage === pageTotal }'>
                                    <a class="page-link" href="#" >
                                      Next
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                              </div>
                            `

            })
            app.mount('#app')
        </script>
        <style>
            #app {
                height: 600px;
            }

            .option {
                overflow-y: auto;
            }
        </style>
    </body>
</html>
